<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<%- include("layout/navBar") -%>
<div class="container">
    <div class="row">
        <!-- views/pages/fotos.ejs -->
        <h1>Filtrar Fotos por Rango de Rating</h1>
        <form action="/fotos/findAllByRate/json" method="GET">
            <div class="mb-3">
                <label for="lower" class="form-label">Valor Mínimo:</label>
                <input type="number" class="form-control" id="lower" name="lower" step="any" placeholder="Ejemplo: 0" required>
            </div>
            <div class="mb-3">
                <label for="higher" class="form-label">Valor Máximo:</label>
                <input type="number" class="form-control" id="higher" name="higher" step="any" placeholder="Ejemplo: 1.2" required>
            </div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>