<!-- Contenedor principal -->
<div class="container mt-5">
    <div class="text-center">
        <h1 class="">Home Page</h1>
        <p>Bienvenido a nuestra página de inicio, construida con Bootstrap!</p>
    </div>
</div>